<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
</head>

<body>
    <header>
        <% if (locals.user) {%>
                <nav>
                    <div class="navbar">

                        <div class="right">
                            <a href="/">Code Chats</a>
                        </div>


                        <div class="left">
                            <span><a href="/users/profile"><%= user.name%></a></span>
                            <span><a href="/users/sign-out">Sign Out</a></span>
                        </div>
                    </div>
                </nav>
        



            <%}else {%>
                <nav>
                    <div class="navbar">

                        <div class="right">
                            <a href="/home">Code Chats</a>
                        </div>


                        <div class="left">
                            <span><a href="/users/sign-in">Sign In</a></span>
                            <span><a href="/users/sign-up">Sign Up</a></span>
                        </div>
                    </div>
                </nav>

                <%}%>
    </header>
</body>

</html>