


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>
        <%= title %>
    </title>
    <div id="home-container">
        <section id="feed-posts">
            <h4>Posts</h4>

            <%if (locals.user) {%>

                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="Express your thoughts"></textarea>
                    <input type="submit" value="Post">
                </form>
                <% } %>
                   <div class="post-container">
                        <ul>
                            <% for(post of posts) {%>
                                <%-include('_post')-%>
                                    <%}%>
                        </ul>
                    </div>


        </section>
        <section id="user-friends">
            <h4>Friends</h4>

            <%for(u of all_users) { %>
                <p><a href="users/profile/<%=u.id%>">
                        <%=u.name%>
                    </a></p>

                <%}%>

        </section>
    </div>

<script src="/js/home_post.js" type="text/javascript"></script>
<script src="https://kit.fontawesome.com/2e15ea0b69.js" crossorigin="anonymous"></script>