<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Animated Login Form | CodingNepal</title>
    <link rel="stylesheet" href="/css/user_sign_in.css" />
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="post" action="/users/create-session">
        <div class="txt_field">
          <input type="text" name="email" required />
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" required />
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Sign In" />
        <div class="signup_link">Not a member? <a href="#">Signup</a></div>
      </form>
      <p><a href="/users/auth/google">Google</a></p>
    </div>
  </body>
</html>
